{{#contents}}
    {{#equal details.pagecontentname "header-banner"}}
      <p>{{details.contents.text}}</p>
    {{/equal}} 
{{/contents}}

{{#equal components.menu "menu2" }}
   <p>{{> menu2 }}</p>
{{/equal}}