<!--Body 2 comes here--> 

{{#contains components.row1column0.content}}   
     {{#content pagecontents components.row1column0.content }} 
          {{>( partial this.templates.filename content=this )}} 
     {{/content}} 
{{/contains }}  
{{#contains components.row1column0.component}}  
     {{>( partial components.row1column0.component pageData=pageData )}} 
{{/contains }} 

<div class="cart-page">
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-8">
                    {{#contains components.row2column1.content}}   
                         {{#content pagecontents components.row2column1.content }} 
                              {{>( partial this.templates.filename content=this )}} 
                         {{/content}} 
                    {{/contains }}  
                    {{#contains components.row2column1.component}}  
                         {{>( partial components.row2column1.component pageData=pageData )}} 
                    {{/contains }} 
               </div>
               <div class="col-lg-4">
                    {{#contains components.row2column2.content}}   
                         {{#content pagecontents components.row2column2.content }} 
                              {{>( partial this.templates.filename content=this )}} 
                         {{/content}} 
                    {{/contains }}  
                    {{#contains components.row2column2.component}}  
                         {{>( partial components.row2column2.component pageData=pageData )}} 
                    {{/contains }} 
               </div>
          </div>
     </div>
</div>

{{#contains components.row3column0.content}}   
     {{#content pagecontents components.row3column0.content }} 
          {{>( partial this.templates.filename content=this )}} 
     {{/content}} 
{{/contains }}  
{{#contains components.row3column0.component}}  
     {{>( partial components.row3column0.component pageData=pageData )}} 
{{/contains }}  
