{{#contents}}
    {{#equal details.pagecontentname "header-banner"}}
      <p>{{details.contents.text}}</p>
    {{/equal}} 
{{/contents}}

{{#contains components.menu}}  
     <p>Component  --> {{components.menu}} </p> 
     {{>( partial components.menu pageData=pageData )}} 
{{/contains }} 