<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/shop">
                        {{#content pagecontents "header-banner" }}   
                                <img src="{{../configData.dam-url}}/{{this.contents.image}}" alt="{{this.contents.text}}">
                        {{/content}} 
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                {{> sayt}}
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    <a href="/cart" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>(0)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bottom Bar End --> 