<!DOCTYPE html>
<html>
<head>
    {{#if page.meta1}}
      {{> meta1}}
    {{/if}}
    {{#if page.meta2}}
      {{> meta2 }}
    {{/if}}
</head>

<body>   
    {{#equal widgets.header "header1" }}
      {{> header1 components=components contents=contents }}
    {{/equal}}

    {{#equal widgets.header "header2" }}
      {{> header2 components=components}}
    {{/equal}} 

    {{#equal widgets.body "body0" }} 
      {{> body0 }}
    {{/equal}} 
    {{#equal widgets.body "body1" }} 
      {{> body1 }}
    {{/equal}} 
    {{#equal widgets.body "body2" }} 
      {{> body2 }}
    {{/equal}}  
    {{#equal widgets.body "body3" }} 
      {{> body3 }}
    {{/equal}} 
 
    {{#equal widgets.footer "footer1"}}
      {{> footer1 }}
    {{/equal}} 
</body>

</html>