<!DOCTYPE html>
<html>
<head> 
      {{> meta1}} 
      {{> header-links }} 
</head>

<body>   
    {{#equal widgets.header "header1" }}
      {{> header1 components=components pagecontents=pagecontents }}
    {{/equal}}

    {{#equal widgets.header "header2" }}
      {{> header2 components=components pagecontents=pagecontents}}
    {{/equal}} 

   

    {{#equal widgets.body "body0" }} 
      {{> body0 pageData=pageData components=components pagecontents=pagecontents}}
    {{/equal}} 
    {{#equal widgets.body "body1" }} 
      {{> body1 pageData=pageData components=components pagecontents=pagecontents}}
    {{/equal}} 
    {{#equal widgets.body "body2" }} 
      {{> body2 pageData=pageData components=components pagecontents=pagecontents}}
    {{/equal}}  
    {{#equal widgets.body "body3" }} 
      {{> body3 pageData=pageData components=components pagecontents=pagecontents}}
    {{/equal}} 
 
    {{#equal widgets.footer "footer1"}}
      {{> footer1 }}
    {{/equal}} 

    {{> footer-links }} 
</body>

</html>